*{   
    margin: 0;
    text-decoration: none;
    color:black
}
.head
{
    text-align: center;
    height: 60px;
    background-color: rgb(44, 40, 40);
}
.ab
{
    width: 30%;
    height: 50px;
    border: 2px solid black;
}
.container
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#left
{
    width: 168px;
    height: auto;
    line-height: 3.0;
    background-color: bisque;
}
li{
    font-size: 20px;
}
#center{
    height: 540px;
    line-height: 1.5;
    width: 50%;
    padding: 10px;
    text-align: justify;
}
.head h1
{
    color:rgb(206, 241, 78);
}
.dlc
{
    border: 2px solid black;
    height: 30px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
#right
{
    height: 400px;
    display: block;
}



